In [1]:
import numpy as np
import pandas as pd

In [2]:
dir = ""
df = pd.read_csv(dir + 'trein_data.csv')
df

                        word  np
0                     приказ   0
1               министерство   0
2       жилищно-коммунальный   0
3                  хозяйство   0
4                 энергетика   0
...                      ...  ..
720449             нарушение   1
720450                случай   1
720451         необходимость   1
720452              искажать   1
720453                   вид   1

[720454 rows x 2 columns]

In [3]:
df.groupby(by=['word'], as_index = False)['np'].mean()

         word   np
0        014г  0.0
1         07г  0.0
2       1012н  0.0
3      10июня  0.0
4         13а  0.0
...       ...  ...
9095  ятствие  0.0
9096      яха  0.0
9097    яшкин  0.0
9098    ящего  0.0
9099     ящие  0.0

[9100 rows x 2 columns]